# /node_modules
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
/volumes/nginx/log/*
/volumes/Flask/src/__pycache__/*
/volumes/Flask/src/df_FF.csv
/volumes/Flask/src/QueryResult.csv
/volumes/Flask/src/Result.csv
/volumes/Flask/src/output.xml
/volumes/Flask/src/Combinations.txt
/volumes/Flask/static/download/*
./volumes/mongodb/*
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
