<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>FactroyRapair Login</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/jquery.loadingModal.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/template_styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/swiper.css')}}">
    <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static', filename='/bayesnet/images/favicon.png')}}">
</head>

<body>

    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/js/jquery.loadingModal.min.js')}}"></script>

    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text" href="/">Factory Repair</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#header">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Drop</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="article.html">Article Details</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href="terms.html">Terms Conditions</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li> -->
                </ul>
                <!-- <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span> -->
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="h1-large">Bayesnet<br> Solution<br> Dev.</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="button-container row justify-content-center">
                        <button id="scrollToLogin" class="btn-outline-lg page-scroll col col-auto">
                            <strong>LOGIN</strong>
                        </button>
                        <!-- <a class="btn-outline-lg page-scroll" href="#contact">Contact</a> -->
                    </div> <!-- end of button-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Introduction -->
    <!-- <div id="intro" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>We help companies create and launch digital products</h1>
                </div>
                <div class="col-lg-6">
                    <div class="text-container">
                        <p><strong>Planing</strong> led ask possible mistress relation elegance eat likewise debatin. By
                            message or am nothing amongst chiefly address of research</p>
                        <p><strong>Designing</strong> the its enable direct men depend highly. Ham windows sixte who
                            inquiry fortune demands. Is be force upon and of course</p>
                        <p><strong>Development</strong> sang fond must shew. Really boy law county she unable her
                            sister. Feet you off its. Among are leave law built now</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- end of introduction -->

    <!-- Process -->
    <div class="basic-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Process</h2>
                    <hr class="hr-heading">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="step-container">
                        <div class="step">Issue</div>
                        <i class="fas fa-chevron-right"></i>
                        <div class="step">BayesNet</div>
                        <i class="fas fa-chevron-right"></i>
                        <div class="step">Solution</div>
                        <br>
                        <i class="fas fa-chevron-right"></i>
                        <div class="step">Optimize</div>
                        <i class="fas fa-chevron-right"></i>
                        <div class="step">New Cycle</div>
                    </div> <!-- end of step-container -->
                    <p>On every search, your solution finder becomes more and more precise.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-5 -->
    <!-- end of process -->

    <!-- Project 2 -->
    <div class="basic-3 bg-gray">
        <div id="looogin" class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{{url_for('static', filename='/bayesnet/images/project-2.jpg')}}"
                            alt="alternative">
                    </div>
                </div> -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>LOGIN</h2>
                        <p>
                        <form id="loginForm" class="login needs-validation" novalidate>
                            <div class="">
                                <label for="input_username" class="form-label">User</label>
                                <input id="input_username" type="text" class="form-control" placeholder="Username"
                                    style="text-align:center;" required />
                                <div class="invalid-feedback">
                                    Missing username.
                                </div>
                            </div>
                            <div class="w-100" style="height: 4ch;"></div><!-- </div>breaks cols to a new line-->
                            <div class="">
                                <label for="input_passwd" class="form-label">Password</label>
                                <input id="input_passwd" type="password" class="form-control" placeholder="Password"
                                    style="text-align:center;" required />
                                <div class="invalid-feedback">
                                    Missing password.
                                </div>
                            </div>
                            <div class="w-100" style="height: 4ch;"></div><!-- </div>breaks cols to a new line-->
                            <div class="">
                                <label for="input_factory" class="form-label">Factory</label>
                                <select class="form-select" id="input_factory" style="text-align:center;" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="F1">F1</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please choose a factory.
                                </div>
                            </div>
                            <!-- <input type="submit" value="Submit" />
                            {% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                            {% endfor %} -->

                            <button id="submitBtnHidden" class="d-none" type="submit">Actual Submit form</button>
                        </form>
                        </p>
                        <!-- <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a> -->
                        <div class="row justify-content-center">
                            <a id="submitBtn" class="btn-outline-reg col col-auto" href="#">Submit</a>
                        </div>

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of project 2 -->


    <!-- Details Modal -->
    <div id="staticBackdrop" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="col-lg-8">
                        <div class="image-container">
                            <img class="img-fluid"
                                src="{{url_for('static', filename='/bayesnet/images/details-modal.jpg')}}"
                                alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <h3>Goals Setting</h3>
                        <hr>
                        <p>The app can easily help you track your personal development evolution if you take the time to
                            set it up.</p>
                        <h4>User Feedback</h4>
                        <p>This is a great app which can help you save time and make your live easier. And it will help
                            improve your productivity.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-chevron-right"></i>
                                <div class="flex-grow-1">Splash screen panel</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-chevron-right"></i>
                                <div class="flex-grow-1">Statistics graph report</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-chevron-right"></i>
                                <div class="flex-grow-1">Events calendar layout</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-chevron-right"></i>
                                <div class="flex-grow-1">Location details screen</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-chevron-right"></i>
                                <div class="flex-grow-1">Onboarding steps interface</div>
                            </li>
                        </ul>
                        <a id="modalCtaBtn" class="btn-solid-reg" href="#contact">Contact</a>
                        <button type="button" class="btn-outline-reg" data-bs-dismiss="modal">Close</button>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of modal-content -->
        </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal -->
    <!-- end of details modal -->


    <!-- Project 3 -->
    <!-- <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Video conference and collaboration application</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">She alteration everything sympathize impossible many more words
                                    should be here his get compliment</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">Collected few extremity suffering met had sportsman. By some
                                    more spite about do of do allow blush</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">Additions in conveying or collected objection in. Suffer few
                                    desire wonder her object hardly nearer</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/project-3.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- end of project 3 -->


    <!-- Services -->
    <!-- <div id="services" class="cards-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Product development services</h2>
                    <p class="p-heading">Smile spoke total few great had never their too. Amongst moments do in arrived
                        at my replied. Fat weddings servants but man believed having said that prospect companions</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="card first">
                        <div class="card-icon">
                            <span class="fas fa-rocket green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Product planning</h4>
                            <div class="card-text">Nay newspaper can sportsman are admitting gentleman belonging his. Is
                                oppose no summer lovers</div>
                        </div>
                    </div>


                    <div class="card second">
                        <div class="card-icon">
                            <span class="far fa-clock green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Design and style</h4>
                            <div class="card-text">Not his difficulty boisterous surro bed. Seems folly if in given
                                scale now where word contented</div>
                        </div>
                    </div>
          

          
                    <div class="card third">
                        <div class="card-icon">
                            <span class="far fa-comments green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Development</h4>
                            <div class="card-text">Living valley had silent eat merits esteem bed. In last an or went
                                wise as left. Visited civilly</div>
                        </div>
                    </div>
           

          
                    <div class="card first">
                        <div class="card-icon">
                            <span class="fas fa-camera green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Launch events</h4>
                            <div class="card-text">So colonel he calling so unreserved do interested increasing
                                sentimen. Hola vanity day giving points</div>
                        </div>
                    </div>
            

         
                    <div class="card second">
                        <div class="card-icon">
                            <span class="fas fa-chart-pie green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Evolution reports</h4>
                            <div class="card-text">Within six not law. Few impression difficulty his use has comparison
                                how should it be decisively</div>
                        </div>
                    </div>
           

   
                    <div class="card third">
                        <div class="card-icon">
                            <span class="far fa-chart-bar green"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Market analysis</h4>
                            <div class="card-text">Had repulsive dashwoods suspic sincerity but advantage now him.
                                Remark easily garret nor nay</div>
                        </div>
                    </div>
       

                </div> 
            </div> 
        </div>
    </div>  -->
    <!-- end of services -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <!-- <h6>About Elma</h6>
                        <p class="p-small">He oppose at thrown desire of no. Announcing impression unaffected day his
                            are unreserved indulgence. Him hard find read are you</p> -->
                    </div>
                    <div class="footer-col second">
                        <!-- <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>Important: <a href="terms.html">Terms & Conditions</a>, <a href="privacy.html">Privacy
                                    Policy</a></li>
                            <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a
                                    href="#">Illustrations</a></li>
                            <li>Menu: <a class="page-scroll" href="#header">Home</a>, <a class="page-scroll"
                                    href="#projects">Projects</a>, <a class="page-scroll" href="#services">Services</a>,
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="footer-col third">
                        <!-- <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">We would love to hear from you <a
                                href="mailto:contact@site.com"><strong>contact@site.com</strong></a></p> -->
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{{url_for('static', filename='/bayesnet/images/up-arrow.png')}}" alt="alternative">
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/purecounter.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/swiper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/template_scripts.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/notyf.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/login_2.js')}}"></script>
</body>

</html>