<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="css/loginstyle.css"> -->

    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/loginstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/jquery.loadingModal.min.css')}}">
    <title>FactroyRapair Login</title>
</head>

<body>
    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/js/jquery.loadingModal.min.js')}}"></script>

    <div class="head">FactoryRepair Login</div>
    <br />
    <form id="loginForm" class="login needs-validation" novalidate>
        <h1> Login </h1>
        <input id="input_username" list="username" type="text" class="form-control" placeholder="Username" required />
        <div class="invalid-feedback">
            Missing username.
        </div>
        <input id="input_passwd" type="password" class="form-control" placeholder="Password" required />
        <div class="invalid-feedback">
            Missing password.
        </div>
        <input id="input_factory" list="factory" class="form-control" type="text" placeholder="Factory" required>
        <div class="invalid-feedback">
            Please choose a factory.
        </div>
        <datalist id="factory">
            <option value="F1">
            <option value="F2">
        </datalist>

        <!-- <input type="submit" value="Submit" />
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %} -->

        <input id="submitBtn" type="submit" value="Submit">
        <button id="submitBtnHidden" class="d-none" type="submit">Submit form</button>
    </form>
    <br />

    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/notyf.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/js/login_2.js')}}"></script>
</body>

</html>