<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <title>FactroyRapair Login</title>
    <style type="text/css">
        .head{
            background-color:#003344; color:white; font-weight:bold; font-size:30px;
            text-align:center; padding:10px;
        }
    </style>
</head>
<body style="margin:0px; background-color:#eeeeee;">
    <div class="head">FactoryRepair Login</div>
    <label>Username:
    <input list="factory" name="myBrowser"></label>
    <datalist id="factory">
      <option value="Jonathan">
      <option value="Jonathan0314">
    </datalist>
    <br/>
    <label>Password:
    <input list="project" name="myBrowser"></label>
    <datalist id="project">
      <option value="123456">
      <option value="abcde">
    </datalist>
    <br/>
    <button onclick="self.location.href='http://127.0.0.1:5000/entry'">Login</button>
    <hr/>
    
 
</body>
</html>