<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <title>FactroyRapair Question</title>
</head>

<body>
    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>

    <div class="head">FactoryRepair New</div>
    <br />
    <ul class="nav nav-tabs row justify-content-center" id="myTab" role="tablist">
        <li class="nav-item col col-auto" role="presentation">
            <button class="nav-link active" id="new_issue_tab" data-bs-toggle="tab" data-bs-target="#issue"
                type="button" role="tab" aria-controls="issue" aria-selected="true">New Issue</button>
        </li>
        <li class="nav-item col col-auto" role="presentation">
            <button class="nav-link" id="add_solution_tab" data-bs-toggle="tab" data-bs-target="#solutions"
                type="button" role="tab" aria-controls="solutions" aria-selected="false">Add Solution</button>
        </li>
    </ul>
    <div class="w-100" style="height: 5ch;"></div><!-- </div>breaks cols to a new line-->
    <div class="tab-content" id="TabContent">
        <div class="tab-pane fade show active row justify-content-center" id="issue" role="tabpanel"
            aria-labelledby="home-tab">
            <form id="issueForm" class="row justify-content-center needs-validation" novalidate>
                <div class="col-auto">
                    <label for="input_issue" class="form-label">New Issue</label>
                </div>
                <div class="w-100" style="height: 0ch;"></div><!-- </div>breaks cols to a new line-->
                <div class="col-5">
                    <input id="input_issue" class="form-control text-center" type="text" placeholder="Issue" autocomplete="off"
                        required>
                    <div id="feedBackforQ" class="invalid-feedback">
                        Please input an issue.
                    </div>
                </div>
                <div class="w-100" style="height: 2ch;"></div><!-- </div>breaks cols to a new line-->
                <div class="col-auto">
                    <label for="input_action" class="form-label">Corresponding Action</label>
                </div>
                <div class="w-100" style="height: 0ch;"></div><!-- </div>breaks cols to a new line-->
                <div class="col-5">
                    <input id="input_action" class="input_action form-control text-center" type="text" placeholder="Action" autocomplete="off"
                        required>
                    <div class="invalid-feedback">
                        Please input a action.
                    </div>
                </div>
                <div class="w-100" style="height: 2ch;"></div><!-- </div>breaks cols to a new line-->
                <div id="insertB4" class="col-auto">
                    <button id="moreAction" class="form-control btn btn-secondary" type="button">More Action</button>
                </div>
                <!-- <div class="col-auto">
                    <input class="form-control" type="file" accept=".mp4" id="uploadfile" name="NewVideoUpload"
                        required>
                    <div class="invalid-feedback">
                        Please upload a MP4 video.
                    </div>
                </div> -->
                <div class="w-100" style="height: 5ch;"></div><!-- </div>breaks cols to a new line-->
                <div class="col-auto">
                    <button id="submitBtn" class="form-control btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade row justify-content-center" id="solutions" role="tabpanel"
            aria-labelledby="add_solution_tab">

        </div>
    </div>

    <script src="{{url_for('static', filename='/bayesnet/js/questionCreate.js')}}"></script>
</body>

</html>