<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/questionstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <title>FactroyRapair Question</title>
</head>

<body>
    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>

    <div class="head">FactoryRepair Issue</div>
    <br />
    <form id="questionForm" class="question needs-validation" novalidate>
        <h1> Issue </h1>
        <input id="input_question" class="form-control mb-2" type="text" placeholder="Issue" autocomplete="off" required>
        <div id="feedBackforQ" class="invalid-feedback">
            Please input an issue.
        </div>
        <ul id="myMenu" class="list-group list-group-flush" style="display: none;">
        </ul>

        <input id="submitBtn" type="submit" value="Submit">
        <button id="submitBtnHidden" class="d-none" type="submit">Submit form</button>
    </form>

    <div class="w-100" style="height: 5ch;"></div><!-- </div>breaks cols to a new line-->

    <div class="row w-100 gy-0 gx-0 justify-content-center">
        <button id="newQuestion" class="col col-auto btn btn-outline-secondary">
            Create New Issue
        </button>
    </div>

    <script src="{{url_for('static', filename='/bayesnet/js/question_2.js')}}"></script>
</body>

</html>