<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>FactroyRapair Add</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/jquery.loadingModal.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/template_styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/swiper.css')}}">
    <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static', filename='/bayesnet/images/favicon.png')}}">
</head>

<body>

    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/js/jquery.loadingModal.min.js')}}"></script>

    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a id="toHome" class="navbar-brand logo-text" href="/">Factory Repair</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question">Issue Selection</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollToNewIssue nav-link" href="#">New Issue</a>
                    </li>
                    <li class="nav-item">
                        <a class="scrollToAddSolution nav-link" href="#">Add Solution</a>
                    </li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Drop</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="article.html">Article Details</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href="terms.html">Terms Conditions</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li> -->
                </ul>
                <!-- <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span> -->
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row justify-content-between">
                <h1 class="col col-auto m-0 p-0">Add Issue / Solution</h1>
                <div class="col col-6">
                    <div class="button-container row justify-content-end align-items-center">
                        <button id="scrollToNewIssue" class="scrollToNewIssue btn-solid-lg page-scroll col col-auto me-5">
                            <strong>New Issue</strong>
                        </button>
                        <button id="scrollToAddSolution" class="scrollToAddSolution btn-solid-lg page-scroll col col-auto me-5">
                            <strong>Add Solution</strong>
                        </button>
                        <!-- <a class="btn-outline-lg page-scroll" href="#contact">Contact</a> -->
                    </div> <!-- end of button-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Project 1 -->
    <div class="basic-3 bg-gray">
        <div id="newIssueDiv" class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/project-2.jpg" alt="alternative">
                    </div>
                </div> -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Create New Issue</h2>
                        <form id="issueForm" class="row justify-content-center needs-validation" novalidate>
                            <div class="form-group mb-0">
                                <label for="input_issue" class="form-label">New Issue</label>
                            </div>
                            <div class="form-group">
                                <input id="input_issue" class="form-control text-center" type="text" placeholder="Issue"
                                    autocomplete="off" required>
                                <div id="feedBackforQ" class="invalid-feedback">
                                    Please input an issue.
                                </div>
                            </div>
                            <hr style="border-top: 3px solid rgb(0, 0, 0);"/>
                            <div class="form-group mb-0">
                                <label for="input_action" class="form-label">Corresponding Action(s)</label>
                            </div>
                            <div class="form-group">
                                <input id="input_action" class="input_action form-control text-center" type="text"
                                    placeholder="Action" autocomplete="off" required>
                                <div class="invalid-feedback">
                                    Please input a action.
                                </div>
                            </div>
                            <div class="w-100" style="height: 2ch;"></div><!-- </div>breaks cols to a new line-->
                            <div class="form-group">
                                <input class="form-control uploadfile" type="file" accept=".mp4,.pdf" id="uploadfile"
                                    name="NewVideoUpload" required>
                                <div class="invalid-feedback">
                                    Please upload a MP4 video or a PDF file.
                                </div>
                            </div>
                            <div id="insertB4" class="col-auto">
                                <div class="btn-group">
                                    <button id="lessAction" class="form-control btn btn-outline-danger" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                        </svg>
                                    </button>
                                    <button id="moreAction" class="form-control btn btn-outline-success" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="w-100" style="height: 5ch;"></div><!-- </div>breaks cols to a new line-->
                            <div class="col-auto">
                                <button id="submitBtn" class="form-control btn-outline-reg"
                                    type="submit">Submit</button>
                            </div>
                        </form>

                        <!-- <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a> <a
                            class="btn-outline-reg" href="article.html">Details</a> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of project 1 -->


    <!-- Project 2 -->
    <div class="form-1">
        <div id="addSolDiv" class="container pt-5">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Add solution to an issue</h2>
                    <p class="p-heading">
                        <i class="fas fa-exclamation" style="color: orange;"></i>
                        &nbsp;<span style="color: orange;">If you choose an existing
                            solution of an issue, the files will bereplaced by your upload.</span>&nbsp;
                        <i class="fas fa-exclamation" style="color: orange;"></i>
                    </p>
                    <!-- <ul class="list-unstyled li-space-lg">
                        <li><i class="fas fa-exclamation"></i> &nbsp;If you choose an existing solution, the files will
                            be replaced by your upload.</li>
                        <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00817202212">+81 720 2212</a></li>
                        <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:contact@site.com">contact@site.com</a>
                        </li>
                    </ul> -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="w-100" style="height: 3ch;"></div><!-- </div>breaks cols to a new line-->
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- Contact Form -->
                    <form id="addActionForm" class="row justify-content-center needs-validation" novalidate>
                        <div class="form-group m-0 p-0">
                            <label for="exit_issue_input" style="color:lightslategray;"
                                class="form-label col col-auto">Existing Issue</label>
                        </div>
                        <div class="form-group">
                            <input id="exit_issue_input" class="form-control-input ps-0 pe-0 text-center" type="text"
                                placeholder="Existing Issue" autocomplete="off" required>
                            <div id="feedBackforexit_issue" class="invalid-feedback">
                                Please choose an issue.
                            </div>
                            <ul id="myMenu" class="list-group list-group-flush" style="display: none;">
                            </ul>
                        </div>
                        <div class="form-group m-0 p-0">
                            <label for="add_action" style="color:lightslategray;" class="form-label col col-auto">Add
                                Action</label>
                        </div>
                        <div class="form-group">
                            <input id="add_action" class="add_action form-control-input ps-0 pe-0 text-center"
                                type="text" placeholder="Action" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Please input a action.
                            </div>
                            <ul id="actionMenu" class="list-group list-group-flush" style="display: none;">
                            </ul>
                        </div>
                        <div class="form-group m-0 p-0">
                            <label for="uploadfile2" style="color:lightslategray;" class="form-label col col-auto">
                                Upload Documents</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control-input uploadfile2 ps-0 pe-0 text-center" id="uploadfile2"
                                type="file" name="files" accept=".mp4,.pdf" required multiple>
                            <div class="invalid-feedback">
                                Please upload a MP4 video or a PDF file.
                            </div>
                        </div>
                        <div class="w-100" style="height: 3ch;"></div><!-- </div>breaks cols to a new line-->
                        <div class="form-group">
                            <button id="submitBtn2" type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of project 2 -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <button id="BacktoQuestionSel" class="col col-auto btn btn-outline-light">
                    Back to Issue Selection
                </button>
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <!-- <h6>About Elma</h6>
                        <p class="p-small">He oppose at thrown desire of no. Announcing impression unaffected day his
                            are unreserved indulgence. Him hard find read are you</p> -->
                    </div>
                    <div class="footer-col second">
                        <!-- <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>Important: <a href="terms.html">Terms & Conditions</a>, <a href="privacy.html">Privacy
                                    Policy</a></li>
                            <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a
                                    href="#">Illustrations</a></li>
                            <li>Menu: <a class="page-scroll" href="#header">Home</a>, <a class="page-scroll"
                                    href="#projects">Projects</a>, <a class="page-scroll" href="#services">Services</a>,
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>
                        </ul> -->

                    </div>
                    <div class="footer-col third">
                        <!-- <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">We would love to hear from you <a
                                href="mailto:contact@site.com"><strong>contact@site.com</strong></a></p> -->
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{{url_for('static', filename='/bayesnet/images/up-arrow.png')}}" alt="alternative">
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/purecounter.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/swiper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/template_scripts.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/notyf.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/questionCreate.js')}}"></script>
</body>

</html>