<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/uploadstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bayesnet/css/notyf.min.css')}}">

    <title>FactroyRapair Result</title>
    <!--
    <style type="text/css">
        .head{
            background-color:#003344; color:white; font-weight:bold; font-size:30px;
            text-align:center; padding:10px;
        }
    </style>
    -->
</head>

<body>
    <script src="{{url_for('static', filename='/bayesnet/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/vendors/jquery/jquery.min.js')}}"></script>

    <div class="head">FactoryRepair Result</div>
    <br />
    <form id="uploadForm" class="upload needs-validation" novalidate>
        <h1> Result </h1>
        <label for="dateHere" class="form-label">Date</label>
        <input id="dateHere" class="form-control mt-0" style="color: black;" type="text" placeholder="Date" disabled />
        <label for="factoryHere" class="form-label">Factory</label>
        <input id="factoryHere" type="text" class="form-control mt-0" style="color: black;" placeholder="Factory" disabled />
        <label for="questionHere" class="form-label">Issue</label>
        <input id="questionHere" type="text" class="form-control mt-0" style="color: black;" placeholder="Question" disabled/>
        <label for="solutionHere" class="form-label">Solutions</label>
        <input id="solutionHere" type="text" class="form-control mt-0" style="color: black;" placeholder="Solution" disabled/>
        <button id="submitBtnHidden" class="d-none" type="submit">Submit</button>
    </form>

    <div class="row justify-content-center">
        <!-- <span class="col col-auto">Work in progress</span> -->
        <div class="w-100" style="height: 5ch;"></div><!-- </div>breaks cols to a new line-->
        <input class="btn btn-outline-secondary btn-lg col col-auto"
                onclick="self.location.href='/question'" type="button" value="Back to Issue Selection" />
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='/bayesnet/js/notyf.min.js')}}"></script>
    <script src="{{url_for('static', filename='/bayesnet/js/upload_2.js')}}"></script>

</body>

</html>