
/*
body{
    font-family: Roboto;
    background-color: #e76f51;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.head{
    background-color:#003344; 
    color:white; 
    font-weight:bold; 
    font-size:30px;
    text-align:center; 
    padding:10px;
}
